html {
    height: 85%;
}

body {
    height: 100%
}

textarea {
    display: block;
    width: 80%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button {
    margin-top: 5%;
    margin-left: 2%;
}

div {
    text-align: center;
}
